---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import DirectionCard from "@/components/DirectionCard";
import { getUser, supabase } from "@/lib/supabase";

const { data, error } = await getUser(Astro.locals.id);

if (data && data[0].subscription_level === 0) {
  return Astro.redirect("/");
}
const { data: roadmaps, error: roadmapsError } = await supabase
  .from("roadmaps")
  .select("*");

const { data: directions, error: directionsError } = await supabase
  .from("directions")
  .select("*");

const { data: userRoadmaps, error: userRoadmapsError } = await supabase
  .from("userroadmaps")
  .select("*")
  .eq("user_id", Astro.locals.id);


---

<Layout title="Dashboard | LeadUp">
  <Header />
  <div class="w-full lg:max-w-4xl px-6 xl:px-0 mx-auto py-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold">My roadmaps</h2>
      <a
        href="/dashboard/directions"
        class="flex items-center justify-center text-sm px-3 font-semibold py-2 rounded-lg transition-all bg-primary text-white hover:bg-primary-accent"
        >+ Add Roadmap</a
      >
    </div>

    {
      directions && roadmaps && userRoadmaps && userRoadmaps.length !== 0 ? (
        <div class="my-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
          {userRoadmaps.map((r) => {
            const roadmap = roadmaps.find((entry) => entry.id === r.roadmap_id);
            const direction = directions.find(
              (entry) => entry.id === roadmap.direction_id
            );
            return (
              <DirectionCard
                direction={direction}
                roadmap={roadmap}
                userId={Astro.locals.id}
                client:load
              />
            );
          })}
        </div>
      ) : (
        <div class="my-6">You don't have active roadmaps yet!</div>
      )
    }
    <!-- <div class="flex items-center justify-between">
    <h2 class="text-xl font-bold">My Todos</h2>
  </div> -->
  </div>
</Layout>
