---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<Layout title="dashboard">
  <Header />
  <h1>Dashboard</h1>
  <form action="/api/auth/signout">
    <button type="submit" class="flex items-center justify-center text-sm px-3 font-semibold py-2 rounded-lg transition-all bg-primary text-white">Sign out</button>
  </form>
</Layout>
