---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Reviews from "@/components/Reviews.astro";
---

<BaseLayout title="Lead Up">
  <main class="min-h-svh relative">
    <section class="w-full xl:max-w-7xl px-6 xl:px-0 mx-auto py-24">
      <div class="max-w-4xl mx-auto flex flex-col gap-14">
        <h1 class="font-semibold text-7xl text-center">
          Start Today <br />Reach Millions <span class="text-primary"
            >Tomorrow</span
          >
        </h1>
        <p class="text-center text-lg max-w-xl mx-auto">
          Revolutionize your lead generation: Automated capture, scalable tools,
          and real-time insights—all in one powerful platform. Quick setup,
          immediate impact.
        </p>
        <Reviews />
      </div>
    </section>
    <section class="bg-bg-accent w-full mx-auto py-24">
      <div class="xl:max-w-7xl px-6 xl:px-0 mx-auto">
        <h2 class="text-5xl font-bold text-center">
          80% of Businesses Collapse
        </h2>
        <p class="text-lg font-normal text-center mt-8">
          No experience, no mentoring = struggling with lead generation
        </p>
        <div
          class="flex flex-col lg:flex-row mt-20 gap-10 justify-center items-center"
        >
          <div class="flex flex-col items-center gap-4 text-2xl">
            <span>📅 🔎</span>
            <h3 class="font-bold text-center">
              weeks of researching and investigating
            </h3>
          </div>
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            xmlns="http://www.w3.org/2000/svg"
            class="rotate-90 w-16 h-16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="m7.5.793l4.354 4.353l-.707.708L8 2.707V14H7V2.707L3.854 5.854l-.708-.708z"
              clip-rule="evenodd"></path></svg
          >
          <div class="flex flex-col items-center gap-4 text-2xl">
            <span>💻 🚫</span>
            <h3 class="font-bold text-center">
              days of implementing with no effort
            </h3>
          </div>
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            xmlns="http://www.w3.org/2000/svg"
            class="rotate-90 w-16 h-16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="m7.5.793l4.354 4.353l-.707.708L8 2.707V14H7V2.707L3.854 5.854l-.708-.708z"
              clip-rule="evenodd"></path></svg
          >
          <div class="flex flex-col items-center gap-4 text-2xl">
            <span>⌛ 👥</span>
            <h3 class="font-bold text-center">
              months to get first real clients
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section>
      
    </section>
  </main>
</BaseLayout>
