---
import SignUpForm from "@/components/Auth/SignUpForm";
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout title="LeadUp | Login">
  <div class="mx-auto max-w-sm w-full flex flex-col">
    <SignUpForm client:load />
  </div>
</AuthLayout>
