---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout title="LeadUp | Magic Link Sent">
  <div class="mx-auto max-w-sm w-full flex flex-col text-center">
    <div
      class="flex flex-col relative p-6 rounded-md bg-bg-accent"
    >
      <div class="text-3xl font-semibold mb-6">Magic Link Sent</div>
      <p class="text-zinc-300 text-sm mt-2 mb-6">
        Check your email
      </p>
    </div>
  </div>
</AuthLayout>
