---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout title="LeadUp | Register">
  <div class="mx-auto max-w-sm w-full flex flex-col">
    <!-- <SignUpForm client:load/> -->
    <form
      action="/api/auth/register"
      method="post"
      class="flex flex-col bg-bg-accent relative p-6 rounded-md"
    >
      <div class="text-3xl font-semibold">Create Account</div>
      <p class="text-zinc-400 text-sm mt-2 mb-6">
        Already have an account? <a
          href="/login"
          class="font-medium hover:text-primary">Login</a
        >
      </p>
      <input
        type="email"
        class="px-4 py-3 rounded-md border-white border bg-bg-accent text-base outline-0 focus-visible:outline-4 focus-visible:outline-primary mb-5"
        placeholder="Email"
        name="email"
        autocomplete="false"
        required
      />
      <input
        type="password"
        class="px-4 py-3 rounded-md border-white border bg-bg-accent text-base outline-0 focus-visible:outline-4 focus-visible:outline-primary mb-5"
        placeholder="Password"
        name="password"
        autocomplete="false"
        required
      />
      <button
        type="submit"
        class="bg-primary rounded-md text-lg font-semibold px-6 py-3 text-zinc-50"
        >Create Account</button
      >
    </form>
    <div class="mt-6 text-sm text-zinc-400 text-center">
      By signing up, you agree to the <a
        target="_blank"
        rel="noreferrer"
        href="/terms"
        class="font-medium">Terms of Service</a
      > and <a
        target="_blank"
        rel="noreferrer"
        href="/privacy"
        class="font-medium">Privacy Policy</a
      >
    </div>
  </div>
</AuthLayout>
