---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { getUser, supabase } from "@/lib/supabase";

const { slug } = Astro.params;
const { data: directions, error: directionsError } = await supabase
  .from("directions")
  .select("*")
  .eq("slug", slug);
if (!directions || directions.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout title="Directions | LeadUp">
  <Header />
  <div class="w-full lg:max-w-4xl px-6 xl:px-0 mx-auto py-8">
    <div class="flex items-center justify-center">
      <h1 class="text-xl font-bold">{directions[0].name}</h1>
    </div>
  </div>
</Layout>
